*::before, *::after, * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

h2 {
    font-size: 3rem;
    padding: 2rem 4rem;
    background-color: turquoise;
    color: firebrick;
    border: 1px dotted black;
}

p {
    margin: 1rem;
}

section {
    padding: 20px;
    background-color: thistle;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 12px 12px 10px -5px black;
}

section:hover {
    animation-name: example;
    animation-duration: 1s;
}

.header_text {
    text-align: center;
    margin-bottom: 2rem;
}

.list_info {
    background-color: bisque;
    padding: 2rem;
}

/* Div */
.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

/* Button */
.button {
    padding: 1rem;
    border-radius: 3px;
    margin-top: 20px;
}

.edit_form {
    background-color: transparent;
    position: fixed;
    top: 50%;
}

input {
    padding: 1rem;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
}

@keyframes example {
    0%   {transform: translateX(0);}
    25%  {transform: translateX(25%);}
    50%  {transform: translateX(-25%);}
    100% {transform: translateX(0);}
}